html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #1c1c1c;
    color: #111;
    margin: 0px;
    padding: 0;
    color-scheme: dark;
}

#info-msg {
	position: fixed;
	bottom: 5px;
	left: 5px;
	color: #a8a8a8;
	font-family: sans-serif;
	font-size: 2.5vh;
	z-index: 103;
}

#app-group {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/images/background.png");
    background-color: #1c1c1c;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

#app-group > img {
    width: 200px;
}

#app-group > h1 {
    color: white;
    font-size: 30px;
}

#app-group > button {
    border: 0;
    border-radius: 5px;
    background: #7048d2;
    color: white;
    font-size: 12px;
    padding: 10px;
    bottom: 30px;
    position: fixed;
    padding-left: 30px;
    padding-right: 30px;
}